@model WGC.Models.FeedbackMessage
<style>
    .glyphicon-menu-hamburger {
  font-size: 15px;
}

    .container {
    width:750px;
    margin-bottom:15px;
    }
</style>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="~/Content/Carousel.css">
        <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
                    <img src="~/Images/1.jpg" alt="Los Angeles" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>1</h3>
                        <p>1 desc</p>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Images/2.jpg" alt="Chicago" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>2</h3>
                        <p>2 desc</p>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Images/3.jpg" alt="New York" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>3</h3>
                        <p>3 desc</p>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Images/4.jpg" alt="New York" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>4</h3>
                        <p>4 desc</p>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Images/5.jpg" alt="New York" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>5</h3>
                        <p>5 desc</p>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Images/6.jpg" alt="New York" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>6</h3>
                        <p>6 desc</p>
                    </div>
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        </div>


        @*<div id="main">*@
            <div class="w3-content w3-padding" style="max-width:1564px">

                <!-- Project Section -->
                <div class="w3-container" id="projects">
                    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Projects</h3>
                </div>

                <div class="w3-row-padding">
                    <div class="w3-col l3 m6 w3-margin-bottom">
                        <div class="w3-display-container">
                            <div class="w3-display-topleft w3-black w3-padding">Stain Etching</div>
                            <img src="~/Images/i1.jpg" alt="Stain Etching" style="width:100%">
                        </div>
                    </div>
                    <div class="w3-col l3 m6 w3-margin-bottom">
                        <div class="w3-display-container">
                            <div class="w3-display-topleft w3-black w3-padding">Acid Wash</div>
                            <img src="~/Images/i2.jpg" alt="Acid Wash" style="width:100%">
                        </div>
                    </div>
                    <div class="w3-col l3 m6 w3-margin-bottom">
                        <div class="w3-display-container">
                            <div class="w3-display-topleft w3-black w3-padding">Air Brushing</div>
                            <img src="~/Images/i3.jpg" alt="Air Brushing" style="width:100%">
                        </div>
                    </div>
                    <div class="w3-col l3 m6 w3-margin-bottom">
                        <div class="w3-display-container">
                            <div class="w3-display-topleft w3-black w3-padding">V-Grooving</div>
                            <img src="~/Images/i4.jpg" alt="V-Grooving" style="width:100%">
                        </div>
                    </div>
                </div>

                <div class="w3-row-padding">
                    <div class="w3-col l3 m6 w3-margin-bottom">
                        <div class="w3-display-container">
                            <div class="w3-display-topleft w3-black w3-padding">Deeplight Fusion</div>
                            <img src="~/Images/i5.jpg" alt="Deeplight Fusion" style="width:99%">
                        </div>
                    </div>
                    <div class="w3-col l3 m6 w3-margin-bottom">
                        <div class="w3-display-container">
                            <div class="w3-display-topleft w3-black w3-padding">Spider Fitting</div>
                            <img src="~/Images/i6.jpg" alt="Spider Fitting" style="width:99%">
                        </div>
                    </div>
                    <div class="w3-col l3 m6 w3-margin-bottom">
                        <div class="w3-display-container">
                            <div class="w3-display-topleft w3-black w3-padding">Computerised Bevelling</div>
                            <img src="~/Images/i7.jpg" alt="Computerised Bevelling" style="width:99%">
                        </div>
                    </div>
                    <div class="w3-col l3 m6 w3-margin-bottom">
                        <div class="w3-display-container">
                            <div class="w3-display-topleft w3-black w3-padding">Polish Bending</div>
                            <img src="~/Images/i8.jpg" alt="Polish Bending" style="width:99%">
                        </div>
                    </div>
                </div>

                <!-- About Section -->
                <div class="w3-container w3-padding-32" id="about">
                    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>

                <div class="w3-row-padding w3-grayscale">
                    <div class="w3-col l3 m6 w3-margin-bottom">
                        <img src="~/Images/Photo.jpg" alt="John" style="width:100%">
                        <h3>Mahmood Khan</h3>
                        <p class="w3-opacity">CEO</p>
                        <p>.</p>
                        <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
                    </div>


                    <!-- Contact Section -->
                    <div class="w3-container w3-padding-32" id="contact">
                        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
                        <p>Lets get in touch and talk about your next project.</p>
                        @using (Html.BeginForm("Message", "Home", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                        @*<form action="/action_page.php" target="_blank">*@
                            <input class="w3-input w3-border" type="text" placeholder="Name" required="" name="Name">
                            <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required="" name="Email">
                            <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required="" name="Subject">
                            <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required="" name="Comment">
                            <button class="w3-button w3-black w3-section" type="submit">
                                <i class="fa fa-paper-plane"></i> SEND MESSAGE
                            </button>
                        @*</form>*@
                        }
                    </div>
                </div>


                <!-- Google Map -->
                @*<div id="googleMap" class="w3-grayscale" style="width: 100%; height: 450px; position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div class="gm-err-container"><div class="gm-err-content"><div class="gm-err-icon"><img src="https://maps.gstatic.com/mapfiles/api-3/images/icon_error.png" draggable="false" style="user-select: none;"></div><div class="gm-err-title">Oops! Something went wrong.</div><div class="gm-err-message">This page didn't load Google Maps correctly. See the JavaScript console for technical details.</div></div></div></div></div>*@
                <div class="w3-container w3-padding-32" id="maps">
                    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Reach Us</h3>
                    <div id="googleMap" class="" style="width: 100%; height: 450px; position: relative; overflow: hidden;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.288827951472!2d78.36328581477633!3d17.445884705707485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93c1bee0f159%3A0x72bbe15334f7afeb!2sCubus+Banking+Solutions+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1551113341888" width="600" height="450" frameborder="0" style="border:0;width:100%;" allowfullscreen></iframe>
                    </div>
                </div>
                <!-- Add Google Maps -->
                <script>
function myMap()
{
  myCenter=new google.maps.LatLng(41.878114, -87.629798);
  var mapOptions= {
    center:myCenter,
    zoom:12, scrollwheel: false, draggable: false,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}
                </script>
                @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&amp;callback=myMap"></script>*@
                <!--
        To use this code on your website, get a free API key from Google.
        Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
        -->



            </div>   
        @*<h2>Collapsible Sidebar Using Bootstrap 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="line"></div>
        <h2>Lorem Ipsum Dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="line"></div>
        <h2>Lorem Ipsum Dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="line"></div>
        <h3>Lorem Ipsum Dolor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>*@
        @*</div>*@



